{% extends "base.html" %}

{% block mainContent %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Select Script</h3>

            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputStatus">Operating System</label>
                <select class="form-control custom-select">
                  <option selected disabled>Select one</option>
                  <option>Ubuntu</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputStatus">Honeypot</label>
                <select class="form-control custom-select">
                  <option selected disabled>Select one</option>
                  <option>Cowrie</option>
                  <option>Dioaena</option>
                  <option>Elastichoney</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Activate Honeypot</h3>

            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="ip_addr">IP Address</label>
                <input type="text" id="ip_addr" class="form-control">
              </div>
              <div>
                <input type="submit" value="Activate" class="btn btn-success float-right">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Deployment</h3>

            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Virtual Machine</label>
                <p style="margin:0px;">Download virtual machine and import to your VMWare or VitualBox</p>
                <a href="#" class="btn btn-info">Download</a>
              </div>
              <div class="form-group">
                <label for="command">Deploy Command</label>
                <p style="margin:0px;">To deploy, copy and paste this entire command into the terminal of your machine</p>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="" readonly style="height:auto; margin-top: 0px; margin-bottom: 0px; height: 90px; resize: none;">wget "http://115.66.77.82/api/script/?text=true&script_id=13" -O deploy.sh && sudo bash deploy.sh http://115.66.77.82 X6yHg4D2</textarea>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock %}
{% block script %}
<!-- auto textarea expand  -->
<script src="dist/js/autosize.js"></script>
<script>
  autosize(document.querySelectorAll('textarea'));
</script>
{% endblock %}