{% extends "base.html" %}

{% block mainContent %}
        <!-- Small boxes (Stat box) -->
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="totalNodes"></h3>

                <p>Number of Nodes</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/nodes" class="small-box-footer">Nodes Listing <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 id="activeNodes"></h3>

                <p>Number of Active Nodes</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/deactivatenode" class="small-box-footer">Deactivate Node <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 id="inactiveNodes"></h3>

                <p>Number of Inactive Nodes</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/addnode" class="small-box-footer">Add Node <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 id="noAttacks">12</h3>

                <p>Number of Attacks</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/log" class="small-box-footer">Logs <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
{% endblock %}
{% block script %}
<script>
  function getNodes() {
    $.ajax({
      url: '/api/v1/honeynodes',
      type: 'GET',
      success: function (result) {
        var active = 0;
        var inactive = 0;
        data = JSON.parse(result);
        data.forEach(function(element) {
          if(element.heartbeat_status == "True"){
            active++;
          }else{
            inactive++;
          }
        });
        $("#totalNodes").html(data.length);
        $("#activeNodes").html(active);
        $("#inactiveNodes").html(inactive);
        
      }
    });
  }

  $(function () {
    getNodes();
    setInterval(function () {
      getNodes();
    }, 3000);
  });
</script>
{% endblock %}