{% extends "base.html" %}

{% block mainContent %}
<!-- Alert after adding node -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- alert end -->

<div class="row">
  <div class="col-12">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deployed Date</th>
          <th>Ip Address</th>
          <th>Honeypot Type</th>
          <th>NIDS Type</th>
          <th>Number of Attacks</th>
          <th>Token</th>
          <th>Time Last Heard</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
{% block script %}
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>

  var CustomRenders = {
    status: function (data, type, row, meta) {
      var button = "";
      console.log();
      if(data == "True") {
        return '<h5><span style="width:100%" class="right badge badge-success">Active</span></h5>'
      }else {
        return '<h5><span style="width:100%" class="right badge badge-danger">Inactive</span></h5>'
      }

      // Old code for backup
      //if(data == "True") {
      //  return '<button style="width:100%" onmouseover="activateTooltip()" onclick="callActivateAPI(' + row.token + ')" class="statusbutton btn btn-success" data-toggle="tooltip" data-placement="top" title="Deactivate Node">Active</button>'
      //}else {
      //  return '<button style="width:100%" onmouseover="activateTooltip()" class="statusbutton btn btn-danger">Unactive</button>'
      //}
    },userImage:function (data, type, full, meta) {

    },
  };

  var table;

  $(function () {
    table = $('#example2').DataTable({
      "ordering": true,
      "responsive": true,
      "autoWidth": false,
      "ajax": "/api/v1/honeynodes/datatables",
      "columns": [
            { "data": "honeynode_name" },
            { "data": "date_deployed"},
            { "data": "ip_addr" },
            { "data": "honeypot_type" },
            { "data": "nids_type" },
            { "data": "no_of_attacks" },
            { "data": "token" },
            { "data": "last_heard"},
            { "data": "heartbeat_status", "render":CustomRenders.status}
      ],
    });
  });

  function activateTooltip() {
    console.log();
    $('.statusbutton').tooltip();
  }

  function callActivateAPI(token) {
    $.ajax({
      url: "/api/v1/deactivate/" + token,
      type: "PUT",
      success: function(result){
        console.log("done")
        window.location.reload(true);
      },
      error: function(error){
        alert(`Error ${error}`);
      }
    });
  }

  setInterval(function(){ 
    table.ajax.reload( null, false );
    console.log("asdsda");
  }, 3000);
</script>
{% endblock %}