{% extends "base.html" %}

{% block mainContent %}
<!-- Alert after adding node -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- alert end -->

<style>
  .buttons-columnVisibility.active {
    background-color: grey;
  }
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p class="mainText">Are you sure you want to delete this node?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="deleteButton" type="button" onlick="deleteNode()" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="hide-column" style="margin-bottom: 20px;"></div>
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deployed Date</th>
          <th>Ip Address</th>
          <th>Honeypot Type</th>
          <th>NIDS Type</th>
          <th>Number of Attacks</th>
          <th>Token</th>
          <th>Time Last Heard</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
{% block script %}
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>

  var CustomRenders = {
    status: function (data, type, row, meta) {
      var button = "";
      if(data == "True") {
        return '<h5><span style="width:100%" class="right badge badge-success">Active</span></h5>'
      }else {
        return '<h5><span style="width:100%" class="right badge badge-danger">Inactive</span></h5>'
      }

      // Old code for backup onclick="deleteNode()"
      //if(data == "True") {
      //  return '<button style="width:100%" onmouseover="activateTooltip()" onclick="callActivateAPI(' + row.token + ')" class="statusbutton btn btn-success" data-toggle="tooltip" data-placement="top" title="Deactivate Node">Active</button>'
      //}else {
      //  return '<button style="width:100%" onmouseover="activateTooltip()" class="statusbutton btn btn-danger">Unactive</button>'
      //}
    }, delete:function (data, type, row, meta) {
      if(row.heartbeat_status == "False") {
        return '<button style="margin:auto;display:block" type="button" class="deletebutton btn btn-danger" data-toggle="modal" data-target="#exampleModal" title="Delete Node" data-token="' + row.token + '"><i class="fas fa-trash-alt"></i></button>'
      }else {
        return '<button style="margin:auto;display:block" disabled class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>'
      }
    },
  };

  var table;

  function loadButton() {
    $('#hide-column').append(table.buttons().container());
  }

  $(function () {
    table = $('#example2').DataTable({
      "ordering": true,
      "responsive": true,
      "autoWidth": false,
      "buttons": [
        "colvis"
      ],
      "ajax": "/api/v1/honeynodes/datatables",
      "columns": [
            { "data": "honeynode_name" },
            { "data": "date_deployed"},
            { "data": "ip_addr" },
            { "data": "honeypot_type" },
            { "data": "nids_type" },
            { "data": "no_of_attacks" },
            { "data": "token" },
            { "data": "last_heard"},
            { "data": "heartbeat_status", "render":CustomRenders.status},
            { "render": CustomRenders.delete}
      ],
    });
  });

  setInterval(function(){ 
    table.ajax.reload( null, false );
  }, 2000);

  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var token = button.data('token') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    $("#deleteButton").attr("onclick","deleteNode('" + token + "')");
  })

  function deleteNode(token) {
    console.log('/api/v1/honeynodes/' + token);
    $.ajax({
      url: '/api/v1/honeynodes/' + token,
      type: 'DELETE',
      success: function(result) {
        console.log(result);
        location.reload();
      }
    });
    $('#myModal').modal('hide');
    setTimeout(() => {  location.reload(); }, 500);
  }

  setTimeout(loadButton, 200);
  $("*").mouseover(function () {
    loadButton();
  });
</script>
{% endblock %}