{% from "macros.html" import nav_link with context %}
{% from "macros.html" import checkDropdownNodes with context %}
{% from "macros.html" import checkDropdownDashboard with context %}
{% from "macros.html" import checkDropdownLogs with context %}

<!-- Brand Logo -->
  <a href="index" class="brand-link">
    <img style="margin-top:1px" src="../../dist/img/honeyids.png" alt="HoneyIDS" class="brand-image" style="opacity: .8">
    <span style="color:#F0BA11; font-size: 120%; margin-bottom: 100px;" class="brand-text font-weight-light">HoneyIDS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        {{ checkDropdownDashboard(request.endpoint) }}
        <!-- <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active"> -->
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              {{ nav_link('index', 'Dashboard v1', 'far fa-circle') }}
            </li>
            <li class="nav-item">
              {{ nav_link('index2', 'Dashboard v2', 'far fa-circle') }}
            </li>
            <li class="nav-item">
              {{ nav_link('index3', 'Dashboard v3', 'far fa-circle') }}
            </li>
          </ul>
        </li>
        <li class="nav-item">
          {{ nav_link('deploy', 'Deploy', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
        </li>
        {{ checkDropdownNodes(request.endpoint) }}
        <!-- <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active"> -->
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Nodes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              {{ nav_link('nodes', 'Nodes Listing', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
            <li class="nav-item">
              {{ nav_link('add_node', 'Add Node', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
            <li class="nav-item">
              {{ nav_link('kill_node', 'Deactivate Node', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
          </ul>
        </li>
        {{ checkDropdownLogs(request.endpoint) }}
        <!-- <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active"> -->
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Logs
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              {{ nav_link('log', 'General Logs', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
            <li class="nav-item">
              {{ nav_link('snort_log', 'NIDS Logs', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
            <li class="nav-item">
              {{ nav_link('session_log', 'Session Logs', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
            <li class="nav-item">
              {{ nav_link('malware_log', 'Malware Logs', 'fas fa-tachometer-alt', 'New', 'badge-danger') }}
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->